.root {
    -md-material-activity-background: #f0f0f0;

    -fx-background-color: -md-material-activity-background;
    -fx-font: 16px Roboto;
}

.h1 {
    -fx-font-size: 48px;
    -fx-font-weight: 300;
}

/* Material flat button */

.button {
    -fx-background-color: transparent;
    -fx-font-weight: 700;
    -fx-text-fill: #303030;
}

.button:hover {
    -fx-background-color: rgba(48, 48, 48, .2);
}

.button:disabled {
    -fx-text-fill: #808080;
}

/* Flat primary */

.button-flat-primary {
    -fx-text-fill: -md-material-primary;
}

.button-flat-primary:hover {
    -fx-background-color: derive(-md-material-primary, 110%);
}

/* Flat secondary */

.button-flat-secondary {
    -fx-text-fill: -md-material-secondary;
}

.button-flat-secondary:hover {
    -fx-background-color: derive(-md-material-secondary, 110%);
}