.root {
    -fx-background-color: -mdc-activity-background;
    -fx-font: 16px Roboto;
}

.text {
    -fx-font-smoothing-type: gray;
}

/* H1 */

.mdc-h1 {
    -fx-font-size: 48px;
    -fx-font-weight: 300;
    -fx-padding: 10px 10px;
    -fx-text-fill: -mdc-lighter-foreground;
}

/* Material flat button */

.mdc-button-flat, .mdc-button-outlined, .mdc-button-menu {
    -fx-background-color: transparent;
    -fx-border-radius: 4px;
    -fx-text-fill: -mdc-lighter-foreground;
}

.mdc-button-menu {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8px 12px;
}

.mdc-button-outlined {
    -fx-border-color: rgba(127, 127, 127, .25);
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
}

.mdc-button-contained {
    background
}

.mdc-button-flat, .mdc-button-outlined {
    -fx-font-family: 'Roboto Medium';
    -fx-padding: 8px 24px;
}

.mdc-button-flat:disabled, .mdc-button-outlined:disabled, .mdc-button-menu:disabled {
    -fx-text-fill: ladder(#808080, transparent, -fx-text-fill);
}

.mdc-button-flat:hover, .mdc-button-outlined:hover, .mdc-button-menu:hover {
    -fx-background-color: ladder(#202020, transparent, -fx-text-fill);
}

.mdc-button-flat.mdc-button-primary, .mdc-button-outlined.mdc-button-primary {
    -fx-text-fill: -mdc-primary;
}

.mdc-button-flat.mdc-button-secondary, .mdc-button-outlined.mdc-button-secondary {
    -fx-text-fill: -mdc-secondary;
}